VITE_API_URL=http://localhost:9080/
VITE_BASE_URL=http://localhost:5173/
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51RajBRCVXa9DzE3E5edYdVrTIjefTTLsBrqWNZqXGmvltlsuJDXZATsOQWqIAOx2q5XIO1cfufVsMAMbyE9x6AV6002ovBpbir
VITE_TREFLE_API_KEY=YOUR_TREFLE_API_KEY
#TODO: Replace the following Auth0 values with correct ones
VITE_AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
VITE_AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
VITE_AUTH0_CALLBACK_URL=http://localhost:5173/home